.contact{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap-reverse;
    border-radius: 5px;
    box-shadow: 0 10px 10px 10px rgb(201, 201, 201);
    
}
    .contact >div{
        flex: 1;
        padding: 30px;
    }
    .send-message{
        background-image: linear-gradient(to bottom right, rgb(180, 1, 171), rgb(87, 0, 128));
        color: white;
    }
        .send-message h3{
            font-weight: 500;
        }
        form{
            margin: 20px 0;
        }
        form .form-input{
            margin: 10px 0;
        }
        .form-input input,.form-input textarea{
            padding: 10px 0;
            width: 100%;
            background: none;
            border: none;
            color: white;
            font-size: 15px;
            font-weight: 500;
            border-bottom: 1.5px solid rgba(223, 223, 223, 0.247);
        }
        .form-input textarea{
            height: 150px;
        }
        .form-input input:focus,.form-input textarea:focus{
            border: none;
            border-bottom: 1.5px solid rgba(223, 223, 223, 0.247);
        }
        ::placeholder{
            color: rgba(255, 255, 255, 0.541);
            font-size: 13px;
            font-weight: 500;
        }
        .form-submit a{
            padding: 5px 10px;
            color: white;
            font-family: 500;
            background-color: rgb(221, 11, 151);
            border: none;
            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
        }
        .form-submit a:hover{
            background-color: green;
        }

        .contact-us{
            background-color: white;
            color: #01373f;
        }
            .contact-us h3{
                font-weight: 500;
            }
            .contact-us .border-btm{
                width: 15%;
                height: 0px;
                margin-bottom: 10px;
                border-bottom: 2px solid rgb(221, 11, 151);
            }
            .contact-us >p{
                font-weight: 500;
            }
            .contact-us table{
                margin: 10px 0;
            }
                .contact-us table tr td{
                    padding: 25px 10px;
                }
    
        


@media screen and (max-width:768px){
    .contact{
        width: 85%;
        margin: 20px auto;
        box-shadow: 0 5px 5px 5px rgba(235, 235, 235, 0.507);
    }
        .contact >div{
            padding: 20px 15px;
        }
        .send-message h3,.contact-us h3{
            font-size: 15px;
        }
        .contact-us >p{
            font-weight: 400;
            font-size: 13px;
        }
        .contact-us table{
            margin: 10px 0;
            font-size: 13px;
        }
            .contact-us table tr td{
                padding: 25px 10px;
            }

}