
        footer{
            margin-top: 20px;
            padding: 20px;
            background-color: #01191d;
            display: block;
            color: white;
        }
            .footer1{
                display: flex;
            }
                .footer1 >div{
                    flex: 25%;
                }
            .footer1 h4{
                border-left: 1px solid orangered;
                padding-left: 5px;
                margin-bottom: 20px;
            }

            .footer1-contact td{
                padding: 10px 5px;
            }
                .footer1-contact td i{
                    padding: 10px;
                    color: orangered;
                    border: 1px solid rgba(255, 255, 255, 0.274);
                    border-radius: 3px;
                }
            .useful-links ol{
                padding-left: 40px;
            }
            .useful-links li{
                list-style:circle;
                padding-top: 5px;
            }
                .useful-links li a{
                    color: white;
                    text-decoration: none;
                }
                .useful-links li a:hover{
                    padding-right: 6px;
                    border-right: 1px solid orangered;
                }
            .follow-us a{
                margin-right: 5px;
            }
            .follow-us a i{
                padding: 15px;
                color: orangered;
                border: 1px solid rgba(255, 255, 255, 0.274);
                border-radius: 3px;
            }
            .follow-us a i:hover{
                background-color: orangered;
                color: white;
            }

            .recent-post{
                display: flex;
                flex-direction: column;
            }
                .recent-post >div{
                    margin-right: 5px;
                }
                .post1{
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid white;
                }
                    .post1 >div{
                        padding: 5px;
                    }
                    .image{
                        flex: 15%;
                    }
                    .post{
                        flex: 85%;
                    }
                    .post a{
                        text-decoration: none;
                    }
                        .post a:hover{
                            color: white;
                        }

            .rights{
                width: 100%;
                text-align: center;
                margin-top: 50px;
            }



@media screen and (max-width:768px){

    footer{
        padding: 18px 10px;
        font-size: 12px;
    }
        .footer1{
            flex-wrap: wrap;
        }
    .footer1 h4{
        margin-bottom: 10px;
    }
    

    
}

