
.header{
    display: block;
    padding: 20px 20px 10px 20px;
}
    .header p{
        display: inline-block;
        font-weight: 500;
        font-size: 16px;
        color: #01373f;;
    }
    .bar{
        display: none;
    }
    .menu{
        float: right;
        font-size: 14px;
    }
    .menu .closebtn{
        display: none;
    }
        .menu a{
            text-decoration: none;
            color: #01373f;
            padding: 5px 10px;
            font-size: 13px;
            font-weight: 500;
        }
        .menu a:hover{
            border: 1px solid #01373f;
            border-radius: 5px;
            background-color: #01373f;
            color: white;
        }
        .menu .hire{
            border-radius: 5px;
            background-color: orangered;
            color: white;
        }




         /* responsive Mobile section for phone*/
    @media screen and (max-width:768px){
        .header{
            padding: 20px 20px 10px 20px;
        }
         .header p{
             font-size: 20px;
             font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
             ;
         }   
        .bar{
            display: block;
            float: right;
            font-size: 20px;
            border: .5px solid #c7c7c7;
            background-color: #c7c7c7;
            box-shadow: 0 5px 5px -1px rgb(0 0 0 / 10%);
            padding: 5px 10px;
            border-radius: 50%;
        }
        .nav{
            display: none;
        }
        .menu{
            display: unset;
            position: fixed;
            top: 0;
            right: -100%;
            line-height: unset;
            padding: unset;
            background:#01373fc4;
            width: 100%;
            z-index: 1;
            height: 100vh;
            overflow-x: hidden;
            text-align: center;
            padding-top: 80px;
            transition: 0.5s;;
        }
    
        .menu a{
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            padding-top: 20px;
            color: white;
            display: block;
            transition: 0.3s;
        }
        .menu .closebtn{
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            display: block;
        }


    }