.profile-pics{
    width: 80%;
    margin: 50px auto 10px auto;
    text-align: center;
}
.profile-pics img{
    height: auto;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    opacity: 0.8;
}
    .profile-pics img:hover{
        opacity: 1;
    }
.profile-pics h5{
    color: orangered;
}


.profile{
    width: 80%;
    margin: 10px auto;
}
.profile-summary{
    height: auto;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px -1px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    background: white;
    cursor: pointer;
    border-radius: 3px;
}
.profile-summary-heading{
    padding: 15px;
    position: relative;
}
    .profile-summary-heading .view{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 9px 15px;
        cursor: pointer;
        display: none;
    }
        .profile-summary-heading .hide{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 9px 15px;
            cursor: pointer;
        }
.profile-summary-det{
    border-top: 1px solid #f2f2f2;
    position: relative;
    display: block;
}
    .profile-summary-details{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .profile-summary-details > div{
        flex: 50%;
    }
    table tr td{
        padding: 5px;
    }
        table tr td a{
            padding: 5px 10px;
            background-color: orangered;
            border-radius: 3px;
            color: white;
            font-size: 15px;
            font-weight: 600;
        }
        table tr td a:hover{
            background-color: #01373f;
            color: white;
        }


.bio{
    width: 80%;
    margin: 10px auto;
    color: #01373f;
}
    .bio-sect{
        height: auto;
        position: relative;
        margin-bottom: 10px;
        border: 1px solid #dddddd;
        box-shadow: 0 5px 5px -1px rgb(0 0 0 / 10%);
        box-sizing: border-box;
        background: white;
        cursor: pointer;
        border-radius: 3px;
    }
    .bio-sect-heading{
        padding: 15px;
        position: relative;
    }
        .bio-sect-heading .view{
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 9px 15px;
            cursor: pointer;
        }
            .bio-sect-heading .hide{
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 9px 15px;
                cursor: pointer;
                display: none;
            }
    .bio-sect-details{
        padding: 20px;
        border-top: 1px solid #dddddd;
        display: none;
        position: relative;
    }
    #bio-sect-details-6{
        padding: 0;
    }

.gallery{
    display: flex;
    flex-direction: column;
}
.gallery-row{
    display: flex;
    flex-wrap: wrap;
}
.gallery-row >img{
    flex: 1;
    height: auto;
    max-height: 300px;
    margin: 10px;
    position: relative;
    border: 2px solid #dcdcde;
    box-shadow: 0 1px 1px -1px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
}
    .gallery-row >img:hover{
        opacity: 1;
    }

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.9);
}
.modal-content{
    margin: auto;
    display: block;
    width: 30%;
    height: 450px;
}
.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,.close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .profile{
        width: 95%;
        margin: 5px auto;
        flex-wrap: wrap;
    }
        .profile-pics h5{
            font-size: 13px;
        }
        .profile-summary-det{
            font-size: 10px;
        }
        table tr td{
            padding: 5px 2px;
        }
        table tr td a{
            font-size: 10px;
        }
    
    .gallery-row >img{
        margin: 2px;
    }

    .modal-content{
        width: 100%;
    }
    
}